* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.calculator {
  width: 40%;
  min-width: 400px;
  margin: 200px auto;
}

.calculator-display {
  grid-row: 1;
  grid-column: span 4;
  background-color: #858694;
  text-align: right;
  padding: 10px;
  color: #fff;
  font-size: 2rem;
}

.input-keys {
  width: 80%;
}

.input-keys button {
  background-color: #e0e0e0;
  border: 1px solid #d1d1d1;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

.calculator-keypad {
  display: flex;
}

.function-keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.digit-keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.key-0 {
  grid-column: 1 / span 2;
}

.operator-keys {
  width: 20%;
  display: grid;
  grid-template-columns: 1fr;
}

.operator-keys button {
  background-color: #f5913e;
  color: #fff;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  font-weight: bold;
}
