header {
  display: flex;
  justify-content: space-between;
  padding: 3% 10%;
  background-color: coral;
  color: cornsilk;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.list {
  display: flex;
  font-size: x-large;
  gap: 1.6rem;
  list-style: none;
}

.list-item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.separator {
  border-right: 3px solid #f5f5f5dc;
  height: 2rem;
}

.list-item a {
  text-decoration: none;
  color: cornsilk;
}

.list-item:hover {
  color: #f5f5f5dc;
  background-color: #837c7c;
  border-radius: 5px;
}
